{
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 40,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true
}
